%% -*- mode: erlang -*-
%% rebar3 configuration for hecate-git

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {hecate_om, {git, "https://codeberg.org/hecate-services/hecate-om.git", {branch, "main"}}},

    {reckon_db,    "~> 2.3"},
    {evoq,         "~> 1.15"},
    {reckon_evoq,  "~> 2.1"},
    {reckon_gater, "~> 2.1"},

    {cowboy,  "~> 2.12.0"},
    {esqlite, "~> 0.8.0"}
]}.

{relx, [
    {release, {hecate_git, "0.1.0"}, [
        hecate_git,

        hecate_om,
        reckon_db,
        evoq,
        reckon_evoq,

        git,
        manage_repositories,
        manage_refs,
        project_repositories,
        project_refs,
        query_repositories,
        query_refs
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [hecate_git]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
